.SlideContainerProject{
    position: relative;
    box-sizing: border-box;
    border: solid black 5px;
    width: 100%;
}

.SlideContainerProject img{
    width: 100%;
}

.SlideProject{
    display: none;
    height: 500px;
    min-height: 50%;
    align-items: flex-start;
}

.SlideProject img{
    height: 500px;
    min-height: 100%;
    max-height: 100%;
}

.TextProject{
    min-width: 45%;
    max-width: 45%;
    text-align: left;
    padding: 5%;
}

.ElPorject {
    position: relative;
    display: inline-flexbox;
    align-items: center;
    justify-content: space-around;
    flex-flow: row nowrap;
}

.RowImagePorject a, .RowImagePorject img{
    cursor: pointer;
}


/* arrows style */
.RowImagePorject a{
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: grey;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.RowImagePorject .next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.RowImagePorject a:hover{
    background-color: rgba(0, 0, 0, 0.8);;
}

/*not enougth project to be efficient*/
.ColumnImageProject {
    float:left;
    width: 16.6%;
    padding-left: 16.6%;
    padding-right: 16.6%;
    background-color: black;
  }

  .RowImagePorject img{
      opacity: 0.7;
  }

  .RowImagePorject img:hover{
      opacity: 1;
  }